@charset "UTF-8";

@media screen and (min-width: 992px) {
    div#paralax {
        margin-bottom: 100px;
    }
    
    main {
        margin: auto;
        width: 80%;
        border-radius: 25px;
        padding: 30px;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.411);
    }

    footer {
        margin-top: 40px;
    }

    p {
        max-width: 852px;
        margin: auto;
    }

        div#links-container {
        flex-flow: row wrap;
        }
}