@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 25px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(133, 59, 47);
    color: rgb(255, 240, 211);
    box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.575);
}

div#paralax {
    height: 460px;
    background: url(imgs/paralax-image.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    width: 100%;
    background-color: wheat;
    padding: 20px;
}

main p {
    padding: 20px 5px;
    line-height: 25px;
    font-size: 1.4em;
}

main strong {
    color: brown;
}

main h2 {
    color: brown;
    padding: 20px 0px;
    font-size: 1.6em;
}

div#links-container {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

section {
    margin: auto;
    height: 220px;
    width: 240px;
    background: url(imgs/cake.jpg) no-repeat center center ;
    background-size: cover;
    padding: 25px;
    filter: grayscale(100%);
    transition-duration: 1s;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

section:hover {
    filter: grayscale(0%);
    transform: scale(110%);
}

section h1 {
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    text-align: center;
    padding: 10px;
}

section a {
    text-decoration: none;
    padding: 10px 25px;
    background-color: rgb(119, 2, 2);
    color: white;
    border-radius: 25px;
    transition-duration: 1s;
}

section a:hover {
    transform: scale(110%);
    background-color: rgb(167, 0, 0);
}

footer {
    background-color: rgb(133, 59, 47);
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}