@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 25px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(133, 59, 47);
    color: rgb(255, 240, 211);
    box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.575);
}

div#paralax {
    height: 460px;
    background: url(imgs/paralax-image.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    width: 100%;
    background-color: wheat;
}